<h1><%= classified_slice_name %>::Views::<%= classified_controller_name %>::<%= classified_action_name %></h1>
<h2>slices/<%= underscored_slice_name %>/templates/<%= underscored_controller_name %>/<%= underscored_action_name %>.html.erb</h2>
